<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rocketmq.producer.mapper.OrderMapper">


    <insert id="createOrder">
        insert  into order (id,commodity_code,transaction_id,business,order_no,foreign_key)
        values (#{id},#{commodityCode},#{transactionId},#{business},#{orderNo},#{foreignKey});
    </insert>


</mapper>